Kafka_Consume (2).json
{"flowContents":{"identifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Kafka_Consume","comments":"","position":{"x":1865.0000927618694,"y":246.0000469475474},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"03549d1f-7f91-376b-8ff0-85231b0d07b8","name":"Consume Kafka Record 2.x","comments":"","position":{"x":953.6709193238819,"y":605.4859401419388},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.ConsumeKafkaRecord_2_0","properties":{"header-name-regex":"schema.*","sasl.username":"tspann","max.poll.records":"10000","record-writer":"5ad1b9d7-d4ec-34b2-916d-ff91932eab52","group.id":"#{Group ID}","bootstrap.servers":"reprise-demo-kafka-broker2.se-sandb.a465-9q4k.cloudera.site:9093,\nreprise-demo-kafka-broker1.se-sandb.a465-9q4k.cloudera.site:9093,\nreprise-demo-kafka-broker0.se-sandb.a465-9q4k.cloudera.site:9093","topic_type":"names","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"security.protocol":"SASL_SSL","kerberos-credentials-service":null,"ssl.context.service":"84fe5a16-cec1-3446-9a17-756b011bb277","max-uncommit-offset-wait":"1 secs","sasl.mechanism":"PLAIN","sasl.token.auth":"false","honor-transactions":"false","sasl.kerberos.keytab":null,"Communications Timeout":"60 secs","topic":"iottest","separate-by-key":"false","record-reader":"994f2425-240a-39e0-a305-730e6edafe77","message-header-encoding":"UTF-8","key-attribute-encoding":"utf-8","auto.offset.reset":"earliest"},"propertyDescriptors":{"header-name-regex":{"name":"header-name-regex","displayName":"Headers to Add as Attributes (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"group.id":{"name":"group.id","displayName":"Group ID","identifiesControllerService":false,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"topic_type":{"name":"topic_type","displayName":"Topic Name Format","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"max-uncommit-offset-wait":{"name":"max-uncommit-offset-wait","displayName":"Max Uncommitted Time","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"honor-transactions":{"name":"honor-transactions","displayName":"Honor Transactions","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"max.poll.records":{"name":"max.poll.records","displayName":"Max Poll Records","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Communications Timeout":{"name":"Communications Timeout","displayName":"Communications Timeout","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name(s)","identifiesControllerService":false,"sensitive":false},"separate-by-key":{"name":"separate-by-key","displayName":"Separate By Key","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true},"key-attribute-encoding":{"name":"key-attribute-encoding","displayName":"Key Attribute Encoding","identifiesControllerService":false,"sensitive":false},"auto.offset.reset":{"name":"auto.offset.reset","displayName":"Offset Reset","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"NONE","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"3aa97f56-701c-32ce-a2f4-4845ac8ceab3","name":"RetryFlowFile","comments":"","position":{"x":1592.0,"y":976.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.RetryFlowFile","properties":{"penalize-retries":"true","maximum-retries":"3","Fail on Non-numerical Overwrite":"false","reuse-mode":"fail","retry-attribute":"flowfile.retries"},"propertyDescriptors":{"penalize-retries":{"name":"penalize-retries","displayName":"Penalize Retries","identifiesControllerService":false,"sensitive":false},"maximum-retries":{"name":"maximum-retries","displayName":"Maximum Retries","identifiesControllerService":false,"sensitive":false},"Fail on Non-numerical Overwrite":{"name":"Fail on Non-numerical Overwrite","displayName":"Fail on Non-numerical Overwrite","identifiesControllerService":false,"sensitive":false},"reuse-mode":{"name":"reuse-mode","displayName":"Reuse Mode","identifiesControllerService":false,"sensitive":false},"retry-attribute":{"name":"retry-attribute","displayName":"Retry Attribute","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"67e84771-ebaa-344c-b5ce-dfd5c502581f","name":"Store to Managed Object Storage","comments":"","position":{"x":952.0,"y":1096.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/etc/hadoop/conf/core-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":"tspann","Replication":null,"Kerberos Relogin Period":"4 hours","Directory":"s3a://se-uat2/warehouse/tablespace/external/hive/iot","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"2f52b057-ca2a-3998-9bb6-0db6687b51ba","name":"Log Event with Object Storage Failure","comments":"","position":{"x":1584.0,"y":1160.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"b501bee4-13fa-31cf-b0a5-bd232d1b2866","name":"Log Event with Kafka Failure","comments":"","position":{"x":1569.670919323882,"y":613.4859401419388},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"c0e658c6-4b2d-3a2d-9af5-5c8e6bcdf2ab","name":"Log Event with Query Failure","comments":"","position":{"x":1584.0,"y":808.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.LogAttribute","properties":{"Log prefix":null,"character-set":"UTF-8","Log Level":"info","attributes-to-ignore-regex":null,"Attributes to Ignore":null,"Attributes to Log":null,"attributes-to-log-regex":".*","Log Payload":"false"},"propertyDescriptors":{"Log prefix":{"name":"Log prefix","displayName":"Log prefix","identifiesControllerService":false,"sensitive":false},"character-set":{"name":"character-set","displayName":"Character Set","identifiesControllerService":false,"sensitive":false},"Log Level":{"name":"Log Level","displayName":"Log Level","identifiesControllerService":false,"sensitive":false},"attributes-to-ignore-regex":{"name":"attributes-to-ignore-regex","displayName":"Attributes to Ignore by Regular Expression","identifiesControllerService":false,"sensitive":false},"Attributes to Ignore":{"name":"Attributes to Ignore","displayName":"Attributes to Ignore","identifiesControllerService":false,"sensitive":false},"Attributes to Log":{"name":"Attributes to Log","displayName":"Attributes to Log","identifiesControllerService":false,"sensitive":false},"attributes-to-log-regex":{"name":"attributes-to-log-regex","displayName":"Attributes to Log by Regular Expression","identifiesControllerService":false,"sensitive":false},"Log Payload":{"name":"Log Payload","displayName":"Log Payload","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"121fe25f-c024-3ac2-ba60-78a9be621bf1","name":"Query High Temp Alerts","comments":"","position":{"x":952.0,"y":856.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.QueryRecord","properties":{"cache-schema":"true","dbf-default-precision":"10","record-writer":"5ad1b9d7-d4ec-34b2-916d-ff91932eab52","record-reader":"994f2425-240a-39e0-a305-730e6edafe77","include-zero-record-flowfiles":"false","dbf-default-scale":"0","highTempAlert":"SELECT * FROM FLOWFILE\nWHERE temperature > 70"},"propertyDescriptors":{"cache-schema":{"name":"cache-schema","displayName":"Cache Schema","identifiesControllerService":false,"sensitive":false},"dbf-default-precision":{"name":"dbf-default-precision","displayName":"Default Decimal Precision","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"include-zero-record-flowfiles":{"name":"include-zero-record-flowfiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false},"dbf-default-scale":{"name":"dbf-default-scale","displayName":"Default Decimal Scale","identifiesControllerService":false,"sensitive":false},"highTempAlert":{"name":"highTempAlert","displayName":"highTempAlert","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["original"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"13dee019-4825-3a16-a564-cfcb4b80112c","name":"","source":{"id":"3aa97f56-701c-32ce-a2f4-4845ac8ceab3","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"RetryFlowFile","comments":""},"destination":{"id":"67e84771-ebaa-344c-b5ce-dfd5c502581f","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Store to Managed Object Storage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retry"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[{"x":1432.0,"y":1032.0}],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"49b80dce-7ab6-365e-8e45-c9d891f30a00","name":"","source":{"id":"121fe25f-c024-3ac2-ba60-78a9be621bf1","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Query High Temp Alerts","comments":""},"destination":{"id":"67e84771-ebaa-344c-b5ce-dfd5c502581f","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Store to Managed Object Storage","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["highTempAlert"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"3a3bba52-80d9-3c70-925f-6f6322f1960b","name":"","source":{"id":"03549d1f-7f91-376b-8ff0-85231b0d07b8","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Consume Kafka Record 2.x","comments":""},"destination":{"id":"b501bee4-13fa-31cf-b0a5-bd232d1b2866","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Log Event with Kafka Failure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["parse.failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"a428f6fb-2f96-331a-b247-095d8c0929cc","name":"","source":{"id":"03549d1f-7f91-376b-8ff0-85231b0d07b8","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Consume Kafka Record 2.x","comments":""},"destination":{"id":"121fe25f-c024-3ac2-ba60-78a9be621bf1","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Query High Temp Alerts","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"877476f7-a6ea-37ba-8297-87318e8ac64c","name":"","source":{"id":"67e84771-ebaa-344c-b5ce-dfd5c502581f","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Store to Managed Object Storage","comments":""},"destination":{"id":"3aa97f56-701c-32ce-a2f4-4845ac8ceab3","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"RetryFlowFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"38f93c44-4e4e-3916-b7c9-e05e1dc73af9","name":"","source":{"id":"121fe25f-c024-3ac2-ba60-78a9be621bf1","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Query High Temp Alerts","comments":""},"destination":{"id":"c0e658c6-4b2d-3a2d-9af5-5c8e6bcdf2ab","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Log Event with Query Failure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"756c8004-c978-3226-9de3-dd7293a0031e","name":"","source":{"id":"3aa97f56-701c-32ce-a2f4-4845ac8ceab3","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"RetryFlowFile","comments":""},"destination":{"id":"2f52b057-ca2a-3998-9bb6-0db6687b51ba","type":"PROCESSOR","groupId":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6","name":"Log Event with Object Storage Failure","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["retries_exceeded","failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"}],"labels":[],"funnels":[],"controllerServices":[{"identifier":"5ad1b9d7-d4ec-34b2-916d-ff91932eab52","name":"JsonRecordSetWriter","comments":"","type":"org.apache.nifi.json.JsonRecordSetWriter","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.1.1.0-13"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordSetWriterFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.1.1.0-13"}}],"properties":{"schema-branch":null,"compression-level":"1","schema-cache":null,"Timestamp Format":null,"Date Format":null,"Pretty Print JSON":"false","compression-format":"none","Schema Write Strategy":"no-schema","suppress-nulls":"never-suppress","output-grouping":"output-array","schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"inherit-record-schema","schema-protocol-version":"1","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"compression-level":{"name":"compression-level","displayName":"Compression Level","identifiesControllerService":false,"sensitive":false},"schema-cache":{"name":"schema-cache","displayName":"Schema Cache","identifiesControllerService":true,"sensitive":false},"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"Pretty Print JSON":{"name":"Pretty Print JSON","displayName":"Pretty Print JSON","identifiesControllerService":false,"sensitive":false},"compression-format":{"name":"compression-format","displayName":"Compression Format","identifiesControllerService":false,"sensitive":false},"Schema Write Strategy":{"name":"Schema Write Strategy","displayName":"Schema Write Strategy","identifiesControllerService":false,"sensitive":false},"suppress-nulls":{"name":"suppress-nulls","displayName":"Suppress Null Values","identifiesControllerService":false,"sensitive":false},"output-grouping":{"name":"output-grouping","displayName":"Output Grouping","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-protocol-version":{"name":"schema-protocol-version","displayName":"Schema Protocol Version","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"},{"identifier":"994f2425-240a-39e0-a305-730e6edafe77","name":"JsonTreeReader","type":"org.apache.nifi.json.JsonTreeReader","bundle":{"group":"org.apache.nifi","artifact":"nifi-record-serialization-services-nar","version":"1.13.2.2.1.1.0-13"},"controllerServiceApis":[{"type":"org.apache.nifi.serialization.RecordReaderFactory","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-services-api-nar","version":"1.13.2.2.1.1.0-13"}}],"properties":{"Timestamp Format":null,"schema-inference-cache":null,"Date Format":null,"schema-branch":null,"schema-name":"${schema.name}","schema-registry":null,"Time Format":null,"schema-access-strategy":"infer-schema","schema-version":null,"schema-text":"${avro.schema}"},"propertyDescriptors":{"Timestamp Format":{"name":"Timestamp Format","displayName":"Timestamp Format","identifiesControllerService":false,"sensitive":false},"schema-inference-cache":{"name":"schema-inference-cache","displayName":"Schema Inference Cache","identifiesControllerService":true,"sensitive":false},"Date Format":{"name":"Date Format","displayName":"Date Format","identifiesControllerService":false,"sensitive":false},"schema-branch":{"name":"schema-branch","displayName":"Schema Branch","identifiesControllerService":false,"sensitive":false},"schema-name":{"name":"schema-name","displayName":"Schema Name","identifiesControllerService":false,"sensitive":false},"schema-registry":{"name":"schema-registry","displayName":"Schema Registry","identifiesControllerService":true,"sensitive":false},"Time Format":{"name":"Time Format","displayName":"Time Format","identifiesControllerService":false,"sensitive":false},"schema-access-strategy":{"name":"schema-access-strategy","displayName":"Schema Access Strategy","identifiesControllerService":false,"sensitive":false},"schema-version":{"name":"schema-version","displayName":"Schema Version","identifiesControllerService":false,"sensitive":false},"schema-text":{"name":"schema-text","displayName":"Schema Text","identifiesControllerService":false,"sensitive":false}},"componentType":"CONTROLLER_SERVICE","groupIdentifier":"15b3b614-d050-3b03-91e8-c8b08ca2b1a6"}],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"84fe5a16-cec1-3446-9a17-756b011bb277":{"identifier":"84fe5a16-cec1-3446-9a17-756b011bb277","name":"Default NiFi SSL Context Service"}},"parameterContexts":{},"flowEncodingVersion":"1.0"}