Logs_(Flume).json
{"flowContents":{"identifier":"0387d792-151f-30d2-b997-f7ad243547fc","name":"Logs (Flume)","comments":"","position":{"x":728.0,"y":1080.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"dbbd331a-6289-3c6d-a163-71035cb32585","name":"List Log Files","comments":"","position":{"x":800.0,"y":83.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.ListFile","properties":{"Minimum File Age":"60 sec","et-initial-listing-target":"all","Maximum File Age":null,"max-listing-time":"3 mins","record-writer":null,"Maximum File Size":null,"et-time-window":"3 hours","et-node-identifier":"${hostname()}","Recurse Subdirectories":"true","File Filter":"(wifi).*log","Path Filter":null,"Include File Attributes":"true","Input Directory Location":"Local","listing-strategy":"timestamps","Input Directory":"/var/log","target-system-timestamp-precision":"auto-detect","track-performance":"true","max-performance-metrics":"100000","Minimum File Size":"1024 B","Ignore Hidden Files":"true","et-state-cache":null,"max-operation-time":"10 secs"},"propertyDescriptors":{"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false},"et-initial-listing-target":{"name":"et-initial-listing-target","displayName":"Entity Tracking Initial Listing Target","identifiesControllerService":false,"sensitive":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false},"max-listing-time":{"name":"max-listing-time","displayName":"Max Directory Listing Time","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false},"et-time-window":{"name":"et-time-window","displayName":"Entity Tracking Time Window","identifiesControllerService":false,"sensitive":false},"et-node-identifier":{"name":"et-node-identifier","displayName":"Entity Tracking Node Identifier","identifiesControllerService":false,"sensitive":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false},"Include File Attributes":{"name":"Include File Attributes","displayName":"Include File Attributes","identifiesControllerService":false,"sensitive":false},"Input Directory Location":{"name":"Input Directory Location","displayName":"Input Directory Location","identifiesControllerService":false,"sensitive":false},"listing-strategy":{"name":"listing-strategy","displayName":"Listing Strategy","identifiesControllerService":false,"sensitive":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false},"target-system-timestamp-precision":{"name":"target-system-timestamp-precision","displayName":"Target System Timestamp Precision","identifiesControllerService":false,"sensitive":false},"track-performance":{"name":"track-performance","displayName":"Track Performance","identifiesControllerService":false,"sensitive":false},"max-performance-metrics":{"name":"max-performance-metrics","displayName":"Maximum Number of Files to Track","identifiesControllerService":false,"sensitive":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false},"et-state-cache":{"name":"et-state-cache","displayName":"Entity Tracking State Cache","identifiesControllerService":true,"sensitive":false},"max-operation-time":{"name":"max-operation-time","displayName":"Max Disk Operation Time","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"},{"identifier":"f3478df2-3bd2-3875-943e-7662ea0e2b4e","name":"PublishKafkaRecord_2_0","comments":"","position":{"x":1536.0,"y":312.0},"bundle":{"group":"org.apache.nifi","artifact":"nifi-kafka-2-0-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.kafka.pubsub.PublishKafkaRecord_2_0","properties":{"compression.type":"none","attribute-name-regex":null,"record-writer":null,"bootstrap.servers":"localhost:9092","sasl.kerberos.principal":null,"sasl.kerberos.service.name":null,"kerberos-credentials-service":null,"partition":null,"sasl.mechanism":"GSSAPI","max.block.ms":"5 sec","record-reader":null,"message-header-encoding":"UTF-8","transactional-id-prefix":null,"ack.wait.time":"5 secs","sasl.username":null,"use-transactions":"true","acks":"0","security.protocol":"PLAINTEXT","ssl.context.service":null,"max.request.size":"1 MB","sasl.token.auth":"false","message-key-field":null,"Failure Strategy":"Route to Failure","partitioner.class":"org.apache.kafka.clients.producer.internals.DefaultPartitioner","sasl.kerberos.keytab":null,"topic":null},"propertyDescriptors":{"compression.type":{"name":"compression.type","displayName":"Compression Type","identifiesControllerService":false,"sensitive":false},"attribute-name-regex":{"name":"attribute-name-regex","displayName":"Attributes to Send as Headers (Regex)","identifiesControllerService":false,"sensitive":false},"record-writer":{"name":"record-writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false},"bootstrap.servers":{"name":"bootstrap.servers","displayName":"Kafka Brokers","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.principal":{"name":"sasl.kerberos.principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.service.name":{"name":"sasl.kerberos.service.name","displayName":"Kerberos Service Name","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"partition":{"name":"partition","displayName":"Partition","identifiesControllerService":false,"sensitive":false},"sasl.mechanism":{"name":"sasl.mechanism","displayName":"SASL Mechanism","identifiesControllerService":false,"sensitive":false},"max.block.ms":{"name":"max.block.ms","displayName":"Max Metadata Wait Time","identifiesControllerService":false,"sensitive":false},"record-reader":{"name":"record-reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false},"message-header-encoding":{"name":"message-header-encoding","displayName":"Message Header Encoding","identifiesControllerService":false,"sensitive":false},"transactional-id-prefix":{"name":"transactional-id-prefix","displayName":"Transactional Id Prefix","identifiesControllerService":false,"sensitive":false},"ack.wait.time":{"name":"ack.wait.time","displayName":"Acknowledgment Wait Time","identifiesControllerService":false,"sensitive":false},"sasl.username":{"name":"sasl.username","displayName":"Username","identifiesControllerService":false,"sensitive":false},"use-transactions":{"name":"use-transactions","displayName":"Use Transactions","identifiesControllerService":false,"sensitive":false},"acks":{"name":"acks","displayName":"Delivery Guarantee","identifiesControllerService":false,"sensitive":false},"security.protocol":{"name":"security.protocol","displayName":"Security Protocol","identifiesControllerService":false,"sensitive":false},"ssl.context.service":{"name":"ssl.context.service","displayName":"SSL Context Service","identifiesControllerService":true,"sensitive":false},"max.request.size":{"name":"max.request.size","displayName":"Max Request Size","identifiesControllerService":false,"sensitive":false},"sasl.token.auth":{"name":"sasl.token.auth","displayName":"Token Auth","identifiesControllerService":false,"sensitive":false},"message-key-field":{"name":"message-key-field","displayName":"Message Key Field","identifiesControllerService":false,"sensitive":false},"Failure Strategy":{"name":"Failure Strategy","displayName":"Failure Strategy","identifiesControllerService":false,"sensitive":false},"partitioner.class":{"name":"partitioner.class","displayName":"Partitioner class","identifiesControllerService":false,"sensitive":false},"sasl.kerberos.keytab":{"name":"sasl.kerberos.keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"topic":{"name":"topic","displayName":"Topic Name","identifiesControllerService":false,"sensitive":false},"sasl.password":{"name":"sasl.password","displayName":"Password","identifiesControllerService":false,"sensitive":true}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"},{"identifier":"6be6394b-8cdc-3df3-8203-91286ef97d9e","name":"Set File Name","comments":"","position":{"x":801.5154438203305,"y":561.479986468586},"bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","properties":{"Delete Attributes Expression":null,"filename":"${filename:replaceAll(':', ''):replaceAll('|','')}","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"},{"identifier":"86f4ec83-3b7b-3ded-b561-297d5c7fd33c","name":"FetchFile","comments":"","position":{"x":805.551513671875,"y":323.7939758300781},"bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.standard.FetchFile","properties":{"Move Conflict Strategy":"Rename","Log level when file not found":"ERROR","Move Destination Directory":null,"Log level when permission denied":"ERROR","File to Fetch":"${absolute.path}/${filename}","Completion Strategy":"Delete File"},"propertyDescriptors":{"Move Conflict Strategy":{"name":"Move Conflict Strategy","displayName":"Move Conflict Strategy","identifiesControllerService":false,"sensitive":false},"Log level when file not found":{"name":"Log level when file not found","displayName":"Log level when file not found","identifiesControllerService":false,"sensitive":false},"Move Destination Directory":{"name":"Move Destination Directory","displayName":"Move Destination Directory","identifiesControllerService":false,"sensitive":false},"Log level when permission denied":{"name":"Log level when permission denied","displayName":"Log level when permission denied","identifiesControllerService":false,"sensitive":false},"File to Fetch":{"name":"File to Fetch","displayName":"File to Fetch","identifiesControllerService":false,"sensitive":false},"Completion Strategy":{"name":"Completion Strategy","displayName":"Completion Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"},{"identifier":"e7e82591-8d46-32c8-bfe5-0349985b989d","name":"PutHDFS - Store Flume Logs","comments":"","position":{"x":805.84130859375,"y":815.0513916015625},"bundle":{"group":"org.apache.nifi","artifact":"nifi-hadoop-nar","version":"1.13.2.2.1.1.0-13"},"style":{},"type":"org.apache.nifi.processors.hadoop.PutHDFS","properties":{"Permissions umask":null,"Hadoop Configuration Resources":"/Users/tspann/Documents/core-site.xml,/Users/tspann/Documents/hdfs-site.xml","Remote Owner":null,"Additional Classpath Resources":null,"Compression codec":"NONE","IO Buffer Size":null,"Remote Group":null,"Block Size":null,"kerberos-credentials-service":null,"Kerberos Keytab":null,"Ignore Locality":"false","Kerberos Principal":null,"Replication":null,"Kerberos Relogin Period":"4 hours","Directory":"/flume","Conflict Resolution Strategy":"replace"},"propertyDescriptors":{"Permissions umask":{"name":"Permissions umask","displayName":"Permissions umask","identifiesControllerService":false,"sensitive":false},"Hadoop Configuration Resources":{"name":"Hadoop Configuration Resources","displayName":"Hadoop Configuration Resources","identifiesControllerService":false,"sensitive":false},"Remote Owner":{"name":"Remote Owner","displayName":"Remote Owner","identifiesControllerService":false,"sensitive":false},"Additional Classpath Resources":{"name":"Additional Classpath Resources","displayName":"Additional Classpath Resources","identifiesControllerService":false,"sensitive":false},"Compression codec":{"name":"Compression codec","displayName":"Compression codec","identifiesControllerService":false,"sensitive":false},"IO Buffer Size":{"name":"IO Buffer Size","displayName":"IO Buffer Size","identifiesControllerService":false,"sensitive":false},"Remote Group":{"name":"Remote Group","displayName":"Remote Group","identifiesControllerService":false,"sensitive":false},"Block Size":{"name":"Block Size","displayName":"Block Size","identifiesControllerService":false,"sensitive":false},"kerberos-credentials-service":{"name":"kerberos-credentials-service","displayName":"Kerberos Credentials Service","identifiesControllerService":true,"sensitive":false},"Kerberos Password":{"name":"Kerberos Password","displayName":"Kerberos Password","identifiesControllerService":false,"sensitive":true},"Kerberos Keytab":{"name":"Kerberos Keytab","displayName":"Kerberos Keytab","identifiesControllerService":false,"sensitive":false},"Ignore Locality":{"name":"Ignore Locality","displayName":"Ignore Locality","identifiesControllerService":false,"sensitive":false},"Kerberos Principal":{"name":"Kerberos Principal","displayName":"Kerberos Principal","identifiesControllerService":false,"sensitive":false},"Replication":{"name":"Replication","displayName":"Replication","identifiesControllerService":false,"sensitive":false},"Kerberos Relogin Period":{"name":"Kerberos Relogin Period","displayName":"Kerberos Relogin Period","identifiesControllerService":false,"sensitive":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false}},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success"],"scheduledState":"ENABLED","componentType":"PROCESSOR","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"bdf4d54e-d682-3611-84a0-47cfced64e4b","name":"","source":{"id":"6be6394b-8cdc-3df3-8203-91286ef97d9e","type":"PROCESSOR","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"Set File Name","comments":""},"destination":{"id":"e7e82591-8d46-32c8-bfe5-0349985b989d","type":"PROCESSOR","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"PutHDFS - Store Flume Logs","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"},{"identifier":"7f7c2781-6e2b-3f6c-a0bf-efcf69dc57fc","name":"","source":{"id":"dbbd331a-6289-3c6d-a163-71035cb32585","type":"PROCESSOR","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"List Log Files","comments":""},"destination":{"id":"86f4ec83-3b7b-3ded-b561-297d5c7fd33c","type":"PROCESSOR","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"FetchFile","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"},{"identifier":"789ec85d-5d23-3cd3-af3f-5a55427fff67","name":"","source":{"id":"e7e82591-8d46-32c8-bfe5-0349985b989d","type":"PROCESSOR","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"PutHDFS - Store Flume Logs","comments":""},"destination":{"id":"b2730fcb-17a0-31b5-b0d2-efe1d8a41f57","type":"FUNNEL","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"},{"identifier":"7e0a60e5-9346-3039-88a1-88a63c8ba8a7","name":"","source":{"id":"f3478df2-3bd2-3875-943e-7662ea0e2b4e","type":"PROCESSOR","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"PublishKafkaRecord_2_0","comments":""},"destination":{"id":"b2730fcb-17a0-31b5-b0d2-efe1d8a41f57","type":"FUNNEL","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"},{"identifier":"ab881cbd-04bb-368f-af95-b96e9f649b22","name":"","source":{"id":"86f4ec83-3b7b-3ded-b561-297d5c7fd33c","type":"PROCESSOR","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"FetchFile","comments":""},"destination":{"id":"f3478df2-3bd2-3875-943e-7662ea0e2b4e","type":"PROCESSOR","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"PublishKafkaRecord_2_0","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"},{"identifier":"438a082c-970c-39a6-bd2e-df471ab1ee31","name":"","source":{"id":"86f4ec83-3b7b-3ded-b561-297d5c7fd33c","type":"PROCESSOR","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"FetchFile","comments":""},"destination":{"id":"6be6394b-8cdc-3df3-8203-91286ef97d9e","type":"PROCESSOR","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"Set File Name","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["success"],"backPressureObjectThreshold":50000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"},{"identifier":"3517ae1f-c8d8-30a0-bf15-fd7166c6841a","name":"","source":{"id":"86f4ec83-3b7b-3ded-b561-297d5c7fd33c","type":"PROCESSOR","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"FetchFile","comments":""},"destination":{"id":"b2730fcb-17a0-31b5-b0d2-efe1d8a41f57","type":"FUNNEL","groupId":"0387d792-151f-30d2-b997-f7ad243547fc","name":"Funnel","comments":""},"labelIndex":1,"zIndex":0,"selectedRelationships":["failure","permission.denied","not.found"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"}],"labels":[],"funnels":[{"identifier":"b2730fcb-17a0-31b5-b0d2-efe1d8a41f57","position":{"x":1544.0,"y":696.0},"componentType":"FUNNEL","groupIdentifier":"0387d792-151f-30d2-b997-f7ad243547fc"}],"controllerServices":[],"variables":{},"flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{},"parameterContexts":{},"flowEncodingVersion":"1.0"}